<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">

        <div style="padding: 18px;">
            <blockquote class="layui-elem-quote">
                {{.deploy}}
                正在部署链路: {{.fengxuan_name}} 
                包含类型: {{.deploy}}
                <br>
                {{range $k, $v := .output}}
                <!-- <div class="layui-col-xs4 layui-col-sm5 layui-col-md4"> -->
                    <br>{{$v.line}}
                        
                {{end}}
            </blockquote>
    </div>
</div>
